.sectionbg {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.985) 98%
    ),
    url("/background/Wavy BG.png");
  z-index: -10;
}
